.chart-line {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin-top: 20px;
}

.chart-line__text {
    max-width: 100px;
    width: 100%;
    text-align: right;
}

.chart-line__value {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 30px 0;
    background-color: #F5F5F5;
}

.chart-line__value-fill {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #A1DADA;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .chart-line {
        flex-direction: column;
        grid-gap: 15px;
    }

    .chart-line__text {
        text-align: center;
    }
}